 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

 *{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;

}

div {
  margin: 0 auto;
  text-align: center;
}

body{
  zoom: 1;
  width: 1024px;
  height: 768px;
  position: absolute;
  border: 1px solid #e8e8e8;
  left: 50%;
  margin-left: -512px;
}
.disclaimer{
  position: absolute;
  top: 94%;
  width: 100%;
  z-index: 1;
}
.disclaimerTxt{
  font-size: 12px;
  color: white;
  text-align: center;
  left: 128px;
  top: 726px;
  color: black;
}
.logo{
  background-image: url(../TypingToolTest_files/images/logoSegmentation.png);
  width: 208px;
  height: 339px;
  margin-top: 120px;
  position: fixed;
  left: 430px;
  top: 0px;
}
#homeSlide{
  width: 1024px;
  height: 768px;
  display: inline;
  z-index: 0;

}

.welcome{
  font-size: 55px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin-top: 270px;
  line-height: 1;

}
.welcomeMessage{
  margin-top: 40px;
  font-size: 18px;
  color: rgb( 0, 0, 0 );
  text-align: center;
  font-weight: 300;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}
.bgHome{
  background-image: url(../TypingToolTest_files/images/bgHome.png);
  background-size:1024px 768px;
  width: 1024px;
  height: 768px;
  z-index: -10;
  top: 0;
  left: 0;
  position: absolute;
}
.buttonContainer{
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 9999;
  left: 50%;
  margin-left: -100px;
  top: 70%;
}
.startButton {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border:7px solid #EA5B6A;
  -moz-border-radius:36px;
  -webkit-border-radius:36px;
  border-radius:36px;
  display:inline-block;
  cursor:pointer;
  color:black;
  width: 165px;
  height: 47px;
  text-decoration:none;
  line-height: 31px;
  position: relative;  
}

.startAgainButton {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border: 7px solid #EA5B6A;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  display: inline-block;
  cursor: pointer;
  color: black;
  width: 185px;
  height: 50px;
  text-decoration: none;
  line-height: 34px;
  position: relative;
}

.leftBar{
  width: 10px;
  height: 768px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../TypingToolTest_files/images/leftBar.png);
  z-index: 999;
}


.headBar{
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 73px;
}
.headTxt{
  color:#EA5B6A;
  font-size: 16px;
  margin-top: 20px;
}
.logoQuestions{
  background-image: url(../TypingToolTest_files/images/logoQuestions.png);
  height: 35px;
  width: 138px;
  position: absolute;
  top: 21px;
  left: 90px;
}



.mainContainer {
  width: 90%;
  top: 50px;
  height: 500px;
}
#presentationSlide{
  background: white;
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
}
.questionContainer {
  position: absolute;
  left: 0px;
  top: 71px;
  width: 1024px;
  height: 150px;
  font-size: 27px;
  color: black;
  text-align: center;
  font-weight: 100;
  z-index: 99;
}
.titleQuestion{
  font-size: 18px;
  font-weight: 600 !important;
  color: rgb(255, 255, 255);
  margin-top: -18px;
  width: 30px;
  height: 30px;
  background-color: #EA5B6A;
  border-radius: 50%;
  transition: all 1s;
  line-height: 28px;
}
.question{
  width: 88%;
  margin-top: 60px;
  font-weight: 500;
}
.subquestionContainer{
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  font-weight: 500;
  margin-top: 14px;
}
.answerContainer {
  margin-top: 330px;
  width: 726px;
  height: 106px;
  border-radius: 60px;
  background-color: #F8F8F8;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.ballContainer{
  width: 294px;
  height: 13px;
  position: absolute;
  margin-left: 4px;
  z-index: 10;

}

.ballProgress01, .ballProgress02, .ballProgress03, .ballProgress04, .ballProgress05{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DEE5E9;
  list-style: none;
  float: left;
  margin-top: 2px;
  margin-right: 47px;
  z-index: 90;
}

.ballPast{
  background-color: #EA5B6A;
  z-index: 90;

}

.ball01{
  position: absolute;
  top: -1px;
  left: 383px;
  z-index: 999;
}

.ball02{
  position: absolute;
  top: -1px;
  left: 441px;
  z-index: 999;

}

.ball03{
  position: absolute;
  top: -1px;
  left: 497px;
  z-index: 999;

}

.ball04{
  position: absolute;
  top: -1px;
  left: 553px;
  z-index: 999;

}

.ball05{
  position: absolute;
  top: -1px;
  left: 613px;
  z-index: 999;

}


.answer{
  border-radius: 50%;
  background-color: #E3E3E3;
  width: 87px;
  height: 87px;
  position: relative;
  float: left;
  font-size: 38px;
  font-weight: 500;
  color: rgb( 255, 255, 255 );
  line-height: 2.2;
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
}
.answer > p{
  position: relative;
  width: 80%;
  z-index: 99;
}

.answerSelection{
  border-radius: 50%;
  box-shadow: -2px 2px 3px rgba( 255, 255, 255, 0.4 ), rgba( 0, 0, 0, 0.2) 0px 0px 5px inset;
  position: absolute;
  width: 87px;
  height: 87px;
  margin-top: -83px;
  margin-left: 0px;
}

#nextButton{
  border-radius: 30px;
  border: 7px solid #EA5B6A;
  z-index: 0;
  color: black;
  width: 165px;
  height: 47px;
}

#prevButton{
  border-radius: 30px;
  border: 7px solid #EA5B6A;
  z-index: 0;
  color: black;
  width: 165px;
  height: 47px;
  margin-right: 530px;
  margin-top: 70px;
}

.noBack {
  color: #4a4343;
}

.buttonsContainer {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 70%;
}

.button {
  font-size: 21px !important;
  font-weight: 500;
  text-align: center;
  display:inline-block;
  cursor:pointer;
  font-size:16px;
  width: 165px;
  height: 47px;
  text-decoration:none;
  line-height: 33px;
  z-index: -8;

}
.disabled{
  color: #c3c3c3;
  text-align: center;
  border-color: #E3E3E3 !important;
  background-color: grey;
  opacity: 0;
}

.progress{
  position: absolute;
  width: 0%;
  height: 14px;
  z-index: 1;
  margin-top: 0px;
  background-color: rgba(234,91,106,0.6);
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;

}
.progressBack{
  background-color: #F7F7F7;
  position: absolute;
  left: 50%;
  margin-left: -124px;
  top: 60px;
  width: 248px;
  height: 14px;
  border-radius: 10px;
}

.selected{
  border-radius: 50%;
  position: absolute;
  margin-top: -83px;
  margin-left: 0px;
  width: 87px;
  height: 87px;
  background-color: #EA5B6A;

  transition: all 1s;


}


.gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  position: absolute;
  left: 0px;
  top: 71px;
  width: 1024px;
  height: 170px;
  font-size: 26px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  font-weight: 100;
}



.results{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  position: absolute;
  top: 0px;
  z-index: 999;
}

#segmentContainer{
  font-size: 2em;
  position: absolute;
  width: 360px;
  height: 150px;
  left: 50%;
  margin-left: -180px;
  top: 260px;
  z-index: 999;

}
#thankYouContainer,#segmentTitleContainer{
  width: 600px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  background-color: white;
  color:black;
}
#segmentDoctor{
  font-size: 24px;
  color:black;
  font-weight: 500;
  position: relative;
  margin-top: -50px;
}
.percent{
  padding:2px;
  height:20px;
  width:40%;
  text-align: left;
}

#ZINCapprovalCode{
  font-size: 14px;
  color: rgb( 5, 159, 213 );
  font-weight: bold;
  margin-top: 235px;
}

.finalizeButtonShine {

  background: rgba(255,255,255,0.3);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(47%, rgba(255,255,255,0.02)), color-stop(50%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  width: 267px;
  height: 61px;
  z-index: 0;
  position: absolute;
  left: 378px;
  margin-top: 150px;

}


.finalizeButton {
  font-size: 16px;
  font-weight: 500;
  color: rgb( 255, 255, 255 );
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  width: 267px;
  height: 61px;
  text-decoration:none;
  line-height: 61px;
  z-index: -8;
  margin-top: 150px;

}

.finalizeButtonBack{
  border-radius: 35px;
  background: #1d6f88;
  opacity: 0.5;
  box-shadow: 1px 1px 2px 0px rgba( 255, 255, 255, 0.5 );
  position: absolute;
  width: 282px;
  height: 73px;
  margin-top: -67px;
  margin-left: 371px;
  z-index: -9;
}

.modal-custom {
  width: 500px;
  height: 500px;
}

.hidden {
display:none;
}


.modal-content>img {
  margin-top: 40px;
  width: 250px;
  height: 250px
}

.resulting-segment-modal{
  font-size: 35px;
  font-weight: 800;
}

#p1{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p2{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p3{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p4{height:100%; background-color: red;margin-left: 0px;text-align: left;}


/* MEDIA QUERIES FOR RETINA*/

@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5), 
only screen and (min-resolution: 1.5dppx) { 
  /* Retina-specific stuff here */
  .bhHome{
    background-image: url(../TypingToolTest_files/images/bgHome.png);
    background-size:1024px 768px;
  }
  .logo{
    background-image: url(../TypingToolTest_files/images/logoSegmentation@2x.png);
    background-size:208px 339px;

  }
  .logoQuestions{
    background-image: url(../TypingToolTest_files/images/logoQuestions@2x.png);
    background-size:138px 35px;

  }

  .selected::before{
    background-image: url(../TypingToolTest_files/images/tickSelect@2x.png);
    background-size:24px 23px;
  }

}
